<div class ="constainer">
    <div class="row">
        <div class="col-lg-4">
<ngb-toast>
    <ng-template ngbToastHeader>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z"/></svg>
      <strong class="mx-1">ActiveCases </strong>Tamil Nadu
    </ng-template>
    {{this.covidDataList.statewise[2]['active']}}
  </ngb-toast>
</div>
<div class="col-lg-4">
  <ngb-toast>
    <ng-template ngbToastHeader>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z"/></svg>
      <strong class="mx-1"> Confirmed Cases</strong>Tamil Nadu
    </ng-template>
    {{this.covidDataList.statewise[2]['confirmed']}}
  </ngb-toast>
</div>
<div class="col-lg-4">
    <ngb-toast>
      <ng-template ngbToastHeader>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z"/></svg>
        <strong class="mx-1"> Deaths Cases</strong>Tamil Nadu
      </ng-template>
      {{this.covidDataList.statewise[2]['deaths']}}
    </ngb-toast>
  </div>
</div> 
</div>